// corrects the slider carousel.
.carousel-wrapper {
    width:100%;
    margin:0 auto;
  Carousel#HomePageCarousel {
    .carousel-item {
      margin-right: auto;
      img {
        display: block;
        width: 100%;
      }
    }
    ol.carousel-indicators {
      top: 0;
      bottom: auto;
      > li {
        height: auto;
        width: 123px;
        &:hover {
          opacity: 1;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
