// corrects the slider carousel.

.carousel-item {
    margin-right: auto;
    img{
        display: block;
        width: 100%;
    }
}
.carousel-indicators {
    top: 0;
    bottom: auto;
}
.carousel-indicators li {
    height: auto;
    width: 123px;
    img{
        display: block;
        width: 100%;
    }
}