<carousel [showIndicators]="false" [(activeSlide)]="activeSlideIndex">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li
      *ngFor="let slide of slides; let index = index"
      [ngClass]="{ active: index == activeSlideIndex }"
      (click)="onClickMakeActive(index)"
    >
      <img [src]="slide.image" alt="image slide" />
    </li>
  </ol>

  <slide *ngFor="let slide of slides; let index = index">
    <img [src]="slide.image" alt="image slide" />
    <div class="carousel-caption">
      <h4>Slide {{ index }}</h4>
    </div>
  </slide>
</carousel>
